{% extends 'base.html.twig' %}

{% block title %}Edition de l'Utilisateur: {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title">Détail de l'utilisateur</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    Prénom : {{ user.firstName }}
                                </div>
                                <div class="col">
                                    Nom : {{ user.lastname }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    E-mail : {{ user.email }}
                                </div>
                                <div class="col">
                                    Date de Naissance : {{ user.birthday|date("d/m/Y") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button" class="btn btn-outline-secondary mr-2" onClick="window.history.back();">Retour</button>
                        {% if user.active %}
                            <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-p">Modifier</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
